.sidebar {
  position: fixed;
  top: 40px;
  left: 0;
  bottom: 0;
  width: 220px;
  z-index: 996;
  transition: all 0.3s ease;
  padding: 20px;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: #aab7cf transparent;
  box-shadow: 0 0 20px rgba(1, 41, 112, 0.1);
  background-color: #fff;
}

@media (max-width: 1199px) {
  .sidebar {
    left: -300px;
  }
}

.sidebar::-webkit-scrollbar {
  width: 5px;
  height: 8px;
  background-color: #fff;
}

.sidebar::-webkit-scrollbar-thumb {
  background-color: #aab7cf;
}

@media (min-width: 1200px) {
  #main,
  #footer {
    margin-left: 300px;
  }
}

@media (max-width: 1200px) {
  .toggle-sidebar .sidebar {
    left: 0;
  }
}

@media (min-width: 1200px) {
  .toggle-sidebar #main,
  .toggle-sidebar #footer {
    margin-left: 0;
  }
  .toggle-sidebar .sidebar {
    left: -300px;
  }
}

.sidebar-nav {
  padding: 0;
  margin: 0;
  list-style: none;
}

.sidebar-nav li {
  padding: 0;
  margin: 0;
  list-style: none;
}

.sidebar-nav .nav-item {
  margin-bottom: 5px;
}

.sidebar-nav .nav-heading {
  font-size: 11px;
  text-transform: uppercase;
  color: #899bbd;
  font-weight: 600;
  margin: 10px 0 5px 15px;
  letter-spacing: 0.5px;
}

.sidebar-nav .nav-link {
  display: flex;
  align-items: center;
  font-size: 15px;
  gap: 12px;
  font-weight: 700;
  padding: 5px 10px;
  background-color: #eef2ff;
  color: #4154f1;
  border-radius: 4px;
  transition: all 0.3s ease;
}

.sidebar-nav .nav-link.collapsed {
  color: #012970;
  background-color: #fff;
}

.sidebar-nav .nav-link.collapsed i {
  color: #899bbd;
}

.sidebar-nav .nav-link:hover {
  color: #4154f1;
  background-color: #f6f9ff;
  box-shadow: 0 3px 10px rgba(65, 84, 241, 0.15);
}

.sidebar-nav .nav-link:hover i {
  color: #4154f1;
}

.sidebar-nav .nav-link .bi-chevron-down {
  margin-left: auto;
  transition: transform 0.3s;
}

.sidebar-nav .nav-link:not(.collapsed) .bi-chevron-down {
  transform: rotate(180deg);
}

.sidebar-nav .nav-content {
  padding: 5px 0 0 0;
  margin: 0;
  list-style: none;
}

.sidebar-nav .nav-content a {
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: 600;
  color: #012970;
  padding: 10px 0 10px 40px;
  border-radius: 4px;
  transition: all 0.3s ease;
}

.sidebar-nav .nav-content a i {
  font-size: 6px;
  margin-right: 8px;
  border-radius: 50%;
  background-color: #899bbd;
}

.sidebar-nav .nav-content a:hover,
.sidebar-nav .nav-content a:active {
  color: #4154f1;
  background-color: #eef2ff;
}

.sidebar-nav .nav-content a:active i {
  background-color: #4154f1;
}
